<div id="<%= dom_id provider %>">
  <p>
    <strong>Name:</strong>
    <%= provider.name %>
  </p>

  <p>
    <strong>Contact name:</strong>
    <%= provider.contact_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= provider.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= provider.phone %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= provider.notes %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= provider.active %>
  </p>

</div>
