<% content = capture do %>
  <%= render "detail_panel", supplier_item: @supplier_item, supply_rules: @supply_rules %>
<% end %>
<% if turbo_frame_request? %>
  <%= turbo_frame_tag "supplier_item_workspace" do %>
    <%= content %>
  <% end %>
<% else %>
  <div class="container-fluid py-4">
    <nav aria-label="breadcrumb" class="mb-3">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to "Piezas de Proveedor", supplier_items_path, class: "text-decoration-none" %></li>
        <li class="breadcrumb-item active fw-bold"><%= @supplier_item.name %></li>
      </ol>
    </nav>
    <%= content %>
  </div>
<% end %>