<div id="<%= dom_id variant %>">
  <p>
    <strong>Variant type:</strong>
    <%= variant.variant_type_id %>
  </p>

  <p>
    <strong>Provider:</strong>
    <%= variant.provider_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= variant.name %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= variant.code %>
  </p>

  <p>
    <strong>Provider sku:</strong>
    <%= variant.provider_sku %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= variant.cost %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= variant.active %>
  </p>

</div>
