<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Nalakalú Productos</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tom-select@2.4.3/dist/css/tom-select.bootstrap5.min.css">
  </head>
  <!-- min-vh-100 asegura que el body ocupe al menos el 100% de la pantalla -->
  <body class="bg-light d-flex flex-column min-vh-100">
    <%= render "layouts/navbar" %>
    <!-- flex-grow-1 hace que este contenedor se estire para empujar el footer hacia abajo -->
    <main class="flex-grow-1 container-fluid px-4 mt-4">
      <div id="flash_container">
        <%= render "layouts/flash_messages" %>
      </div>
      <%= yield %>
    </main>
    <%# Contenedor para modales dinámicos %>
    <%= turbo_frame_tag "remote_modal" %>
    <%= render "layouts/footer" %>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.2/Sortable.min.js"></script>
</html>